{% extends 'base.html' %}

{% block title %} home{% endblock title %}


{% block body %} 

<style>
  #carosalMenu{
    height: 600px;
    width: 1600px;
  }
</style>
<div class="container-fluid  px-0">
  <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
            <img src="https://source.unsplash.com/1600x900/?icecream" class="d-block w-100" alt="Ice Cream 1">
            <div class="carousel-caption d-none d-md-block">
                <h5>Also Order By Online</h5>
                <p>Project Test in Hometown</p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="https://wallpapercave.com/wp/wp3989381.jpg" class="d-block w-100" alt="Ice Cream 2">
            <div class="carousel-caption d-none d-md-block">
                <h5>Tested By SBK</h5>
                <p>Project Ice Cream Quality...</p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="https://source.unsplash.com/1600x900/?icecream,cone" class="d-block w-100" alt="Ice Cream 3">
            <div class="carousel-caption d-none d-md-block">
                <h5>Delicious Cones</h5>
                <p>Enjoy our classic ice cream cones!</p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="https://source.unsplash.com/1600x900/?icecream,sundae" class="d-block w-100" alt="Ice Cream 4">
            <div class="carousel-caption d-none d-md-block">
                <h5>Tasty Sundaes</h5>
                <p>Try our rich and creamy sundaes!</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="container ">
<h1 class='my-2 text-center'>Please Select Which IceCreams You want!<h1>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
            <img src="https://source.unsplash.com/500x500/?Icecream" class="d-block w-30" alt="...">
          <div class="card-body">
            <p class="card-text  "> Vanila Iceream!.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View </button>
              </div>
            </div>
                <h4 class="Price">150RS<small class="Quantity">/cup</small></h4>
              
            
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
           <img src="https://source.unsplash.com/500x500/?Mango flavour icecream" class="d-block w-30" alt="...">

          <div class="card-body">
            <p class="card-text">Mango flvr.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button"class="btn btn-sm btn-outline-secondary">View</button>
               
              </div>
            </div>
            <h4 class="Price">200RS<small class="Quantity">/cup</small></h4>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
            <img src="https://source.unsplash.com/500x500/?chocolates" class="d-block w-30" alt="...">
          <div class="card-body">
            <p class="card-text">Chocolate flvr.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              </div>
            </div>
                <h4 class="Price">180RS<small class="Quantity">/cup</small></h4>
              </div>
              
            </div>
          </div>
        </div>
      </div>

      
     
  </div>

{% endblock body  %} 



